body {
  background: white;
  /* font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
blockquote {
  margin: 0 auto;
  max-width: 320px;
}
p {
  /* margin: 0 0 0.5em; */
  margin: 0 0 3em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
    max-width: 100%;
  clear: both;
  position: relative;
}
p.them {
  float: left;
}
p.them::after {
  content: "";
  position: absolute;
  left: -0.5em;
  bottom: 0;
  /* width: 0.5em; */
  right: 2em;
  width: 1em; 
  height: 1em;
  border-right: 0.5em solid #e5e5ea;
  border-bottom-right-radius: 1em 0.5em;
}
p.me {
  float: right;
  background-color: #1289fe;
    color: white;
}
p.me::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  /* width: 0.5em; */
  width: 1em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}

button.isend {
  /* padding: 0 10px; */
  margin: 27px 0;
  padding: 0;
	color: #1289fe; /* #ffffff; */
	/* text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); */
	font: 20px bold 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	/* -moz-border-radius:6px; */
	/* -webkit-border-radius:6px; */
	/* border-radius: 6px; */ 
	/* height: 29px; */
	/* -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.12); */
	/* -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.12); */ 
	/* box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.12); */
	
	/* border-top-style: none; */
	
	/* background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 46.9%, rgba(255, 255, 255, 0.22) 51.9%, rgba(255, 255, 255, 0.34) 100%) #486a98;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(0.469, rgba(255, 255, 255, 0.13)), color-stop(0.519, rgba(255, 255, 255, 0.22)), to(rgba(255, 255, 255, 0.34))) #1289fe; /* #486a98; */
	
	background: #ffffff; /* #1289fe; */
	/* border: 1px solid rgba(0, 0, 0, 0.39); */
	border: 0.01px solid #ffffff;
	min-width: 72px;
}
.backme {
  background-color: #f3f3f3;
}
.content-wrapper,
.right-side {
  background-color: #f3f3f3;
}